<% content_for(:title, "Lesson") %>

<h1><%= @lesson.name %></h1>

<h2>Here's what you'll learn: <%= @lesson.content %></h2>
<hr>
<p>
  <%= link_to "Edit Lesson", edit_lesson_path(@lesson) %>
</p>
<p>
  <%= link_to "Delete Lesson", lesson_path(@lesson),
                              :data => {:confirm => "Confirm delete?",
                              :method => "delete"}%>
</p>
<hr>
<p>
  <%= link_to "All Lessons", lessons_path %>
</p>
